<mat-card>
  <mat-toolbar color="primary">
    <span>Adicionar um curso de graduação</span>
  </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="courseName" #courseName />
        <mat-hint align="end">{{courseName.value.length}}/250</mat-hint>
        <mat-error *ngIf="form.get('courseName')?.invalid">{{formUtils.getErrorMessage(form,"courseName")}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Instituição"
          formControlName="institution"
          #institution
        />
        <mat-hint align="end">{{institution.value.length}}/250</mat-hint>
        <mat-error *ngIf="form.get('institution')?.invalid">{{formUtils.getErrorMessage(form,"institution")}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Cidade"
          formControlName="city"
        />
        <mat-error *ngIf="form.get('city')?.invalid">{{formUtils.getErrorMessage(form,"city")}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Modalidade</mat-label>
        <mat-select formControlName="modality">
          <mat-option>Clear</mat-option>
          <mat-option value="PRESENCIAL">Presencial</mat-option>
          <mat-option value="A_DISTANCIA">A distancia</mat-option>
          <mat-option value="HIBRIDO">Hibrido</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('modality')?.invalid">{{formUtils.getErrorMessage(form,"modality")}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="period">
          <mat-option>Clear</mat-option>
          <mat-option value="MATUTINO">Matutino</mat-option>
          <mat-option value="VESPERTINO">Vespertino</mat-option>
          <mat-option value="INTEGRAL">Integral</mat-option>
          <mat-option value="NORTUNO">Noturno</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('period')?.invalid">{{formUtils.getErrorMessage(form,"period")}}</mat-error>
      </mat-form-field>

      <mat-toolbar>
        <span>
          Cadeiras de computação
        </span>
        <button mat-icon-button color="accent" (click)="addNewSubjectsComputing()">
          <mat-icon aria-label="botão de adicionar uma nova cadeira de computação">add</mat-icon>
        </button>
      </mat-toolbar>

      <mat-error *ngIf="formUtils.isFormArrayValid(form, 'subjectsComputing')" class="form-array-error">Adicone no minimo uma cadeira</mat-error>

      <table style="width: 100%" formArrayName="subjectsComputing"
      *ngFor="let subjectComputing of getSubjectsComputingFormArray(); let i = index">
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Nome do componente</mat-label>
              <input matInput placeholder="Nome" formControlName="courseName"  />
              <mat-error *ngIf="getSubjectsComputingFormArray()[i].get('courseName')?.invalid">{{formUtils.getFormArrayFieldErrorMenssage(form, 'subjectsComputing', 'courseName', i)}}</mat-error>
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field class="full-width">
              <mat-label>Horas totais do componente</mat-label>
              <input matInput placeholder="Carga horaria total" formControlName="classHours"  />
              <mat-error *ngIf="getSubjectsComputingFormArray()[i].get('classHours')?.invalid">{{formUtils.getFormArrayFieldErrorMenssage(form, 'subjectsComputing', 'classHours', i)}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warning" (click)="removeSubjectsComputing(i)">
              <mat-icon aria-label="Remover uma cadeira de computação">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onSubmit()">Adicionar</button>
    <button mat-flat-button color="primary" (click)="onCancel()">Limpar</button>
  </mat-card-actions>
</mat-card>
